<section class="container mobile">
  <button class="btn primary" (click)="display('list')">
    List Breakout Rooms
  </button>
  <button class="btn primary" (click)="display('new')" *ngIf="isAuthenticated">
    Submit New Room
  </button>
  <button class="btn primary" (click)="display('approve')" *ngIf="admin">
    Approve Rooms
  </button>
  <app-messages></app-messages>
</section>
<section class="mobile">
  <div *ngIf="displayType === 'list'">
    <app-room-list></app-room-list>
  </div>
  <div *ngIf="displayType === 'new'">
    <app-room-create></app-room-create>
  </div>
  <div *ngIf="displayType === 'approve'">
    <app-room-approve></app-room-approve>
  </div>
</section>
