<section class="container">
  <button class="btn primary" (click)="display('list')">
    List Breakout Companies
  </button>
  <button class="btn primary" (click)="display('new')" *ngIf="isAuthenticated">
    Submit New Company
  </button>
  <button class="btn primary" (click)="display('approve')" *ngIf="admin">
    Approve Companies
  </button>
</section>
<section>
  <div *ngIf="displayType === 'list'">
    <app-company-list></app-company-list>
  </div>
  <div *ngIf="displayType === 'new'">
    <app-company-create></app-company-create>
  </div>
  <div *ngIf="displayType === 'approve'">
    <app-company-approve></app-company-approve>
  </div>
</section>
