<section>
  <div *ngFor="let room of rooms">
    <div class="card" *ngIf="room?.active">
      <img src="{{ room.imageUrl }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ room.name }}</h5>
        <p class="card-text">{{ room.description }}</p>
        <p class="card-test" *ngIf="room.attempts === 0">
          Room has not been attempted.
        </p>
        <p class="card-test" *ngIf="room.attempts > 0">
          Room Attempted: {{ room.attempts }} times.
        </p>
        <p class="card-test" *ngIf="room.attempts > 0">
          <span *ngIf="room.successes > 0"
            >{{ (room.attempts / room.successes) * 100 }}%</span
          ><span *ngIf="room.successes === 0">Unbeaten</span>
        </p>
        <p class="card-test" *ngIf="room.fastest !== 0">
          Fastest Escape Time: {{ room.fastest / 100 | number: "1.0-0" }}:{{
            room.fastest % 100
          }}
        </p>
        <a href="{{ room.website }}">Visit {{ room.name }}</a>
        <button (click)="removeRoom(room)" *ngIf="admin" class="btn btn-danger">
          Remove
        </button>
      </div>
    </div>
  </div>
</section>
