<section *ngIf="companies[0] !== null">
  <div *ngFor="let company of companies">
    <div class="card" *ngIf="!company.active">
      <img src="{{ company.imageUrl }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ company.name }}</h5>
        <p class="card-text">{{ company.description }}</p>
        <p class="card-text">{{ company.location }}</p>
        <a href="" class="">Visit {{ company.name }}</a>
        <button class="btn primary" (click)="setApproval(company)">
          Approve
        </button>
        <button class="btn dark-accent" (click)="denyApproval(company)">
          Deny
        </button>
      </div>
    </div>
  </div>
</section>
<section *ngIf="toApprove === 0">
  <h1 class="text-center">No rooms to approve!</h1>
</section>
